{% extends 'base.html.twig' %}

{% block title %}Cretegny - Accueil{% endblock %}

{% block body %}

    {# top text #}
    <div class="mt-24 ml-24">
        <h1 class="text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">Livraison de produits <br> frais à domicile</h1>
        <button type="button" class="mt-8 focus:outline-none text-black bg-green-500 hover:bg-green-600 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-2xl px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Voir les produits</button>
    </div>

    <div class="mt-24">
        <h1 class="mb-4 text-2xl font-semibold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-2xl dark:text-white"><span class="underline underline-offset-4 decoration-8 decoration-green-400 dark:decoration-blue-500">Des produits frais livrés à domicile avec tout le savoir faire...</span></h1>

        <div class="flex flex-row">
            <div class="basis-1/2"><p class="text-xl">Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in Brittanniam missus ut militares quosdam perduceret ausos conspirasse Magnentio, cum reniti non possent, iussa licentius supergressus fluminis modo fortunis conplurium sese repentinus infudit et ferebatur per strages multiplices ac ruinas, vinculis membra ingenuorum adfligens et quosdam obterens manicis, crimina scilicet multa </p></div>
            <div class="basis-1/2"><p class="text-xl">Hispania, glabro quidam sub vultu latens, odorandi vias periculorum occultas perquam sagax. is in Brittanniam missus ut militares quosdam perduceret ausos conspirasse Magnentio, cum reniti non possent, iussa licentius supergressus fluminis modo fortunis conplurium sese repentinus infudit et ferebatur per strages multiplices ac ruinas, vinculis membra ingenuorum adfligens et quosdam obterens manicis, crimina scilicet multa </p></div>
        </div>
        
{% endblock %}
