{% extends 'base.html.twig' %}

{% block title %}Cretegny - Produits{% endblock %}

{% block body %}

    <div class="mt-32">

        {# Title top page #}
        <h1 class="text-3xl font-semibold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-3xl"><span class="underline underline-offset-4 decoration-8 decoration-green-500">Notre sélection de produits frais :</span></h1>

        <div class="mt-16 grid gap-8 mb-6 lg:mb-16 md:grid-cols-3">
            {# loop display all products #}
            {% for product in products %}

                <div class="flex justify-center">
                    <div class="block max-w-sm rounded-lg bg-stone-200 shadow-lg border-solide border-2 border-zinc-600">

                        {# image of the prodct + link to détails product #}
                        <a href="{{ path('product_show', {'id': product.id}) }}">
                            <img src="https://place-hold.it/400x300" alt="product picture">
                        </a>

                        <div class="flex justify-between">
                            <div class="p-5">
                                <h5 class="text-xl font-medium leading-tight text-neutral-800">{{ product.proName }}</h5>
                                <h5 class="font-medium leading-tight text-neutral-800">CHF {{ product.proPrice|number_format(2, '.', ',') }} pièce</h5>
                                
                            </div>
                            {# button add to cart #}
                            <div class="p-5 mt-10">
                                <a href="#">
                                    <div class="block rounded-lg bg-green-500 hover:bg-green-600 p-2"><svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                        <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z"/>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>

    </div>

{% endblock %}
